#Layer1 {left:300px; top:300px; width:300px; height:100px; background:#737373;}

#loginID {color:red; width:150px; height:20px;}
#loginPW {color:blue; width:170px; height:20px;}
#loginButton {color:white; background:black;}